[submodule "ace-builds"]
	path = gh-pages-rsrcs/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "gh-pages-rsrcs/mathjax"]
	path = gh-pages-rsrcs/mathjax
	url = https://github.com/mathjax/mathjax
[submodule "gh-pages-rsrcs/jquery"]
	path = gh-pages-rsrcs/jquery
	url = https://github.com/jquery/jquery
[submodule "gh-pages-rsrcs/jquery-ui"]
	path = gh-pages-rsrcs/jquery-ui
	url = https://github.com/jquery/jquery-ui
[submodule "showdown"]
	path = gh-pages-rsrcs/showdown
	url = https://github.com/Viruliant/showdown.git
