html, body {	height:100%; width:100%; margin:0; border:0; padding:0;
				background:#FFFFFF url(./spin.gif) repeat center center scroll;
/*				background:#FFFFFF none;*/
/*				overflow:hidden; */
}
table, th, td {	border: "#CCC"; }
#Content {	height:100%; width:80%; margin:0; border:0; padding:2em;
			position: absolute;
			top: 0;
			bottom: 0;
			min-height:100%;
				background:"#333";
				color:"#CCC";
}

#Manuscript {	height:100%; width:100%; margin:0; border:0; padding:0; }

#Editor {	height:100%; width:100%; margin:0; border:0; padding:0; }

#Article {	height:100%; width:100%; margin:0; border:0; padding:2em; }


