html, body {	height:100%; width:100%; margin:0; border:0; padding:0;
				vertical-align:top;
				background:#FFFFFF url(./spin.gif) repeat center center scroll;
/*				background:#FFFFFF none;*/
/*				overflow:hidden; */
}
#wrap { min-height: 100%; }
#container { width: 100%; padding-bottom: 35px; }
#header { height: 35px; width: 100%; background: #FFF;}
#footer {
	position: relative;
	margin-top: -35px;
	clear: both;
	height: 35px;
	width: 100%;
	background: #FFF;
}
table, th, td {	margin:0; padding:0; border:1px solid #fff; border-collapse: collapse;}
#Content {
			height:100%;
			left:10%;
			right:10%;
			border:0;
/*			position: absolute;*/
			top: 0;
			bottom: 0;
			width:80%;
			min-height:100%;
				background:"#333";
				color:"#CCC";
}

#Manuscript {	height:100%; width:100%; margin:0; border:0; padding:0;}

#Editor { 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height:100%;
	position: absolute;
}

#Article {	height:100%; margin:0; border:0; padding:2em; }

